<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find usn_drone_description)/urdf/thrusters/engine.xacro" />
  <xacro:engine prefix="left" position="-0.5 0.14 0.0" />
  <xacro:engine prefix="right" position="-0.5 -0.14 0.0" />
  <!-- <xacro:engine prefix="lateral" position="0.0 0.0 0.318237" orientation="0.0 0.0 1.5707"/> -->
  <gazebo>
    <plugin name="usn_drone_gazebo_thrust" filename="libusv_gazebo_thrust_plugin.so">
      <cmdTimeout>1.0</cmdTimeout>
      <publisherRate>100.0</publisherRate>
      <robotNamespace>${namespace}</robotNamespace>
      <xacro:include filename="$(find usn_drone_gazebo)/urdf/thruster_layouts/usn_drone_gazebo_thruster_config.xacro" />
      <xacro:usn_drone_gazebo_thruster_config name="left" />
      <xacro:usn_drone_gazebo_thruster_config name="right" />
    </plugin>
  </gazebo>
</robot>