<?xml version="1.0"?>
<launch>

    <arg name="gui" default="false"/>
    <arg name="namespace" default="airboat"/>  
    <arg name="posX" default="-10"/>
    <arg name="posY" default="0"/>
    <arg name="posZ" default="0"/>
    <arg name="spawnerUsed" default="false"/>

    <!-- spawn in Gazebo with GUI -->
    <group ns="$(arg namespace)">

        <!--<node name="patrol" pkg="usv_navigation" type="patrol_pid.py" unless="$(arg gui)"/>-->
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find usv_sim)/xacro/$(arg namespace).xacro"/>
        <node unless="$(arg spawnerUsed)" name="spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model $(arg namespace) -param robot_description -x $(arg posX) -y $(arg posY) -z $(arg posZ) -R 0 -P 0 -Y 0"/>

        <!-- Load joint and thruster controller configurations from YAML file to parameter server -->
        <rosparam file="$(find usv_sim)/config/$(arg namespace).yaml" command="load"/>

	</group>

</launch>
