<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="usn_drone">

  <material name="blue">
    <color rgba="0.4 0.5 0.8 0.9"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>


  <link
    name="usn_drone/base_link">
    <inertial>
      <origin
        xyz="0.057087 6.73379999999908E-05 -0.15067"
        rpy="0 0 0" />
      <mass
        value="15.678" />
      <inertia
        ixx="0.91176"
        ixy="0.00336300000000002"
        ixz="-0.30208"
        iyy="4.0991"
        iyz="0.000128790000000019"
        izz="4.4173" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://usn_drone/meshes/usn_drone.STL" />
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://usn_drone/meshes/usn_drone.STL" />
      </geometry>
    </collision>
  </link>
  
</robot>
